.resetPasswordBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;

    .resetEmailSent{
        color : green;
    }

    .resetPassword{
        width: 40%;

        .title{
        }
    
        .subHeading{
            opacity: .8;
            margin-bottom: 2rem;
        }
    }
}